
.classpath
.gradle/4.10.2/fileChanges/last-build.bin
.gradle/4.10.2/fileHashes/fileHashes.bin
.gradle/4.10.2/fileHashes/fileHashes.lock
.gradle/4.10.2/gc.properties
.gradle/vcs-1/gc.properties
.classpath
/bin/
.DS_Store
